# Django
SECRET_KEY=key
DEBUG=True
ALLOWED_HOSTS=*

# PostgreSQL
POSTGRES_DB=backend_devops_interview
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# Usar 'db' (nombre del servicio) al correr dentro de docker compose.
# Cambiar a 'localhost' al correr fuera de Docker.
POSTGRES_HOST=db
POSTGRES_PORT=5432
